.about {
    padding-top: 96px;
    background: #222;
    color: #FEFEFE;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;    
    article {
        width: 75%;
        display: block;
        margin: 0 auto;
        max-width: 960px;
        padding: 0 1em;
    }
}